* {
    margin: 0px;
    padding: 0;
}

.header-tobar {
    height: 50px;
    background-color: #071C1F;
}

.top-bar-mail a {
    font-family: popins;
    size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-left: 10px;

}

.top-bar-mail i {
    color: orangered;
    size: 16px;

}

.top-bar-address a {
    font-family: popins;
    size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.top-bar-address i {
    color: orangered;
    padding-left: 50px;
    size: 16px;
}

.header-top-icon {
    size: 16px;
    color: white;
}

.header-top-icon i {
    padding: 5px;
}


.navbar-brand {
    font-family: Poppins font-size: 100px;
    font-weight: 700;
}

.hero-bannar {
    background-color: #F2F6F7;
    height: 747px;

}
.hero-cont h1 {
    font-size: 60px;
    font-family: poppins;
    font-weight: bold;

}

.hero-cont p {
    font-size: 16px;
    font-family: poppins;
    line-height: 30px;
    color: #9EABB3;
}

.hero-img {
    width: auto;
    height: 467px;
    width: 705px;
}

.qoute-btn {
    width: 234px;
    height: 52px;
    background-color: #FF5A3C;
    border-radius: 10px;
    border:none;
    color: white;

}

.qoute-btn :hover{
    width: 234px;
    height: 52px;
    background-color: #f67963;
    border-radius: 10px;
    border:none;
    color: white;

}

.features {
    padding: 100px 0px;
    text-align: center;
    align-items: center;

}

.features h2 {
 font-size: 30px;
 font-family: poppins;
 font-weight: 600;
 line-height: 50px;
 width: 376px;
 margin: auto;

}

.features p {
    font-size: 16px;
    font-family: poppins;
    line-height: 30px;
    color: #9EABB3;
    width: 376px;
    margin: auto;
    padding-bottom: 100px;

   }


.features-box h5 {
    font-size: 20px;
    font-family: poppins;
    padding-top: 20px;
    font-weight: 700;
}

.features-box p {
    font-size: 16px;
    font-family: poppins;
    color: #9EABB3
}
.features-box img {
width: 80.86px;
height: auto;
align-self: center;

}

.features-box-2{
    background-color: #FF5A3C;
}

.features-box-2 h5 {
    font-size: 20px;
    font-family: poppins;
    padding-top: 20px;
    font-weight: 700;
}

.features-box-2 p {
    font-size: 16px;
    font-family: poppins;
    color: #9EABB3
}
.features-box-2 div img {
width: 80.86px;
height: auto;
align-self: center;

}
   
.service {
    background-color: #F2F6F7;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
}

.service-cont h2 {
    font-size: 30px;
    font-family: poppins;
    font-weight: 600;
    line-height: 50px;
    width: 376px;
    margin: auto;
   
}

.service-cont p {
    font-size: 16px;
    font-family: poppins;
    line-height: 30px;
    color: #9EABB3;
    width: 376px;
    margin: auto;
    padding-bottom: 20px;

   }


.service-item img {
    width: 61px;
    height: auto;
}

.service-item h3 {
    font-size: 20px;
    color: #071C1F;
    font-family: poppins;
    font-weight: 700;
    padding: 10px 0px;
}


.service-item p {
    font-size: 12px;
    color: #9EABB3;
    font-family: poppins;
    line-height: 22px;
}

.service-item a {
    font-size: 16px;
    color: #071C1F;
    font-family: poppins;
    font-weight: 600;
    text-decoration: none;
}

.service-item a :hover {
    font-size: 16px;
    color: #0bdeff;
    font-family: poppins;
    font-weight: 600;
    text-decoration: none;
}