* {
    margin: 0px;
    padding: 0;
}

.header-tobar {
    height: 50px;
    background-color: #071C1F;
}

.top-bar-mail a {
    font-family: popins;
    size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-left: 10px;

}

.top-bar-mail i {
    color: orangered;
    size: 16px;

}

.top-bar-address a {
    font-family: popins;
    size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.top-bar-address i {
    color: orangered;
    padding-left: 50px;
    size: 16px;
}

.header-top-icon {
    size: 16px;
    color: white;
}

.header-top-icon i {
    padding: 5px;
}


.navbar-brand {
    font-family: Poppins font-size: 100px;
    font-weight: 700;
}

.hero-bannar {
    background-color: #F2F6F7;
    height: 747px;

}
.hero-cont h1 {
    font-size: 60px;
    font-family: poppins;
    font-weight: bold;

}

.hero-cont p {
    font-size: 16px;
    font-family: poppins;
    line-height: 30px;
    color: #9EABB3;
}

.hero-img {
    width: auto;
    height: 467px;
    width: 705px;
}

.qoute-btn {
    width: 234px;
    height: 52px;
    background-color: #FF5A3C;
    border-radius: 10px;
    border:none;
    color: white;

}

.qoute-btn :hover{
    width: 234px;
    height: 52px;
    background-color: #f67963;
    border-radius: 10px;
    border:none;
    color: white;

}

.features {
    padding: 100px 0px;
    text-align: center;
}

.features h2 {
 font-size: 30px;
 font-family: poppins;
 font-weight: 600;
 line-height: 50px;
}

.features p {
    font-size: 16px;
    font-family: poppins;
    line-height: 30px;
    color: #9EABB3;
   }

.features-box h5 {
    font-size: 20px;
    font-family: poppins;
    padding-top: 20px;
    font-weight: 700;
}

.features-box p {
    font-size: 16px;
    font-family: poppins;
    color: #9EABB3
}
.features-box div img {
width: 80.86px;
height: auto;
align-self: center;

}
   
